
body {
    font: 20px Arial, sans-serif ;
}

.navbar {
    background-color: #0092dc;
}

.quem-somos {
    background-color: #009ce8;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #0da7f3;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}